/DB100K/DB100K.owl
/DB100K/reasoned/DB100K_reasoned.owl
/YAGO4-20/yago-wd-class.nt
/YAGO4-20/yago-wd-class-correct.nt
/YAGO4-20/yago-wd-full-types.nt
/YAGO4-20/yago-wd-schema.nt
/YAGO4-20/YAGO4-20_no_schema.nt
/YAGO4-20/YAGO4-20.nt